{% extends "layout.njk" %}
{% import "parts/shop-section.njk" as section %}

{% block title %}{{search.term}}{% endblock title %}

{% block content %}
<section class="search container">
    {% if search.total > 0 %}
    <aside>
        <div class="header">
            <span>{{search.total}} resultados encontrados para </span><span>"{{search.term}}"</span>
        </div>

        <nav class="categories">
            <h4>Categories</h4>
            <ul>
                {% for category in categories %}
                <li><a href="/search?filter={{search.term}}&category={{category.id}}">{{category.name}}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </aside>

    {{section.products("", "searched", products)}}

    {% else %}
    <div class="no-search">
        <h3>No results for {{search.term}}</h3>
        Try checking your spelling or use more general terms
    </div>
    {% endif %}
</section>

{% endblock content %}