<!DOCTYPE html>
<html>
    <head>
        <title>Sport Store {% block title %}{% endblock title %}</title>
        
        {% include 'parts/styles.njk' %}
    </head>

    <body>
        {% include 'parts/messages.njk' %}

        {% include 'parts/header.njk' %}

        {% block content %}
        {% endblock %}

        {% include 'parts/footer.njk' %}
    </body>
</html>

